.jadwal-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1a73e8;
}

.jadwal-add-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #1a73e8;
    color: white;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.25s;
}

.jadwal-add-btn:hover {
    background: #0f5ac4;
}

.icon-btn {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1);
}

.icon-btn-small {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
}

.jadwal-table-wrapper {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    min-height: 200px;
}

.jadwal-table {
    width: 100%;
    border-collapse: collapse;
}

.jadwal-table th {
    background: #1a73e8;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

.jadwal-table th:first-child {
    border-top-left-radius: 10px;
}

.jadwal-table th:last-child {
    border-top-right-radius: 10px;
}

.jadwal-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    color: #333;
}

.jadwal-table tr:hover td {
    background: #f4f8ff;
}

.jadwal-table-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.jadwal-empty {
    text-align: center;
    padding: 20px;
    color: #777;
    font-style: italic;
}

.jadwal-action-col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.jadwal-edit {
    display: inline-flex;
    align-items: center;
    background: #ffcc00;
    color: #000 !important;
    padding: 5px 16px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}

.jadwal-edit img {
    filter: brightness(0);
}

.jadwal-edit:hover {
    background: #e6b800;
}

.jadwal-delete {
    display: inline-flex;
    align-items: center;
    background: #e63946;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.jadwal-delete:hover {
    background: #c92c37;
}

.jadwal-search {
    width: 260px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 2px solid #1a73e8;
    background: white;
    color: black;
}


.jadwal-search::placeholder {
    color: #b9c3d0;
}

.jadwal-export-btn {
    display: inline-flex;
    align-items: center;
    background: #ffcc00;
    color: #000;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.jadwal-export-btn:hover {
    background: #e6b800;
}

.jadwal-count-info {
    margin-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.left-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.black-icon {
    filter: brightness(0);
}