body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.home-hero {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    padding-top: 90px;
}

.home-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.15));
    z-index: 1;
}

.home-container {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
    box-sizing: border-box;
}

.left-text {
    max-width: 480px;
    color: white;
}

.region {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.8;
}

.welcome-title {
    font-size: 58px;
    font-weight: 800;
    margin: 5px 0 20px;
}

.desc {
    font-size: 18px;
    line-height: 1.5;
    max-width: 400px;
}

.btn-hero {
    margin-top: 24px;
    padding: 12px 32px;

    background: #ffffff;
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;

    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-hero:hover {
    background: #f1f1f1;
    transform: translateY(-2px);
}

.right-cards {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card-placeholder {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 16px;
}

.card-placeholder.big {
    width: 300px;
    height: 360px;
}

.card-placeholder.small {
    width: 200px;
    height: 280px;
}

.multi-slider {
    width: 380px;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.slider-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease-in-out;
}

.slider-card {
    min-width: 240px;
    height: 300px;
    border-radius: 16px;

    overflow: hidden;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(4px);

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.slider-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.multi-slider::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), transparent);
    pointer-events: none;
}